@charset "UFT-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #011142, #000000);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow:  10px 10px  hwb(237 1% 47%);
    width: 500px;
    padding: 10px;
    margin:auto
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #011142;
   color: #FADD00
}

h2 {
   color: #00DDFA
}

p {
    text-align: justify;
}